.width-container {
	max-width: 1366px;
	padding: 0 10px;
	margin: 0 auto;
}

#request-tracker-app {
	height: 100%;
}

.navbar {
	margin-bottom: 0 !important;
}

.text-link, .text-link:visited {
	  color: #2199e8 !important;
	  text-decoration: none;
}
